{% extends "base.html.twig" %}

{% block title %}{{ pageName }} - {{ brand }}{% endblock %}

{% block body %}
    <div class="siteContent mx-auto text-center">
        <h1 class="mx-auto mt-5 mb-3">{{ brand }}</h1>
        <h3 class="mx-auto mt-3 mb-5 font-weight-500 text-light">{{ message }}</h3>
        <a class="btn btn-primary-outline btn-get-started js-scroll-trigger" href="{{ path('app_register') }}">Get Started</a>
    </div>
{% endblock %}