{% block sidebar %}
    {% if app.request.get('_route') == 'main' %}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('main') }}"><img src="/assets/img/logo.png" width="80px"/></a>
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('meme_panel') }}">Memes</a></li>
                        <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %} 
                        <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('app_login') }}">Login</a></li>
                        <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('app_register') }}">Register</a></li>   
                    {% endif %}
                </ul>
            </div>
        </nav>   
    {% else %} 
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <nav id="sidebar">
                <div class="sidebar-header pr-3 pl-3 pt-3 pb-3">
                    <a class="navbar-brand js-scroll-trigger logoText" href="{{ path('main') }}"><img src="/assets/img/logo_text.png" width="180px" /></a>
                </div>
                <ul class="sidebarMenu m-0 p-0 pt-2 pb-2">
                    <li class="nav-item sidebarItem">
                        <a class="nav-link" href="{{ path('meme_panel') }}">
                            <span>
                                <i class="fas fa-home sidebarIco"></i>
                            </span>
                            <span class="sidebarItemText">Memes</span>
                        </a>
                    </li>
                </ul>    
                <ul class="sidebarMenu m-0 p-0 pt-2 pb-2">    
                    <li class="nav-item sidebarItem">
                        <a class="nav-link" href="{{ path('settings_themes') }}">
                            <span>
                                <i class="fas fa-cog sidebarIco"></i>
                            </span>
                            <span class="sidebarItemText">Settings</span>
                        </a>
                    </li>
                    <li class="nav-item sidebarItem">
                        <a class="nav-link" href="{{ path('contact') }}">
                            <span>
                                <i class="fas fa-envelope-square sidebarIco"></i>
                            </span>
                            <span class="sidebarItemText">Contact</span>
                        </a>
                    </li>
                </ul>
                <ul class="sidebarMenu m-0 p-0 pt-2 pb-2"> 
                    <li class="nav-item sidebarItem">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <span>
                                <i class="fas fa-sign-out-alt sidebarIco"></i>
                            </span>
                            <span class="sidebarItemText">Logout</span>
                        </a>
                    </li>
                </ul>
                <ul class="sidebarMenu m-0 p-0 pt-2 pb-2"> 
                    <li class="nav-item sidebarItem">
                        <a class="nav-link text-center" href="{{ path('settings_pro') }}">
                            <span class="sidebarItemText text-uppercase">Buy premium</span>
                        </a>
                    </li>
                </ul>
                <div class="progress-bar-main-box">
                    <span class="progress-bar-title">Disk usage (max 1GB):</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ occupatedSpace.getOccupiedSpacePercents }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>{{ occupatedSpace.getOccupiedSpacePercents }}%</span></div>    
                    </div>
                </div>
                <div class="sidebarInfoLinks">
                    <ul class="sidebarInfoLinkList p-0 m-0">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Regulations</a></li>
                        <li><a href="#">Informations</a></li>
                        <li><a href="#">Changelog</a></li>
                        <li><a href="#">Rankings</a></li>
                        <li><a href="#">API</a></li>
                    </ul>
                </div>
                <div class="sidebarCredentials">
                    <span class="rounded pt-1 pb-1 pl-2 pr-2">Created by <a class="githubName" href="https://github.com/Sqbany122">Sqbany122</a> & <a class="githubName" href="https://github.com/Crlsky">Crlsky</a></span>
                </div>
                <div class="sidebarSocial">
                    <a class="" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
                    <a class="" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
                    <a class="" href="#"><i class="fas fa-plus-square fa-2x"></i></a>
                    <a class="" href="https://www.paypal.com/paypalme/wiadro50zl"><i class="fab fa-paypal fa-2x"></i></a>
                    <a class="" href="{{ path('contact') }}"><i class="fas fa-envelope-square fa-2x"></i></a>
                </div>
                <div id="dismiss">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        {% endif %}
    {% endif %}   
{% endblock %}