<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="icon" href="/assets/img/favico.png" sizes="192x192" type="image/png">
        <meta name="robots" content="noindex, nofollow" />
        {% block javascript %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="{{ asset('/dist/jquery.contextMenu.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js"></script>
            <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('js/lytebox/lytebox.js') }}"></script>
        {% endblock %}
        {% block siteAddedCSS %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/styles.css') }}" />
            <link rel="stylesheet" href="{{ asset('/css/sidebar.css') }}" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('js/lytebox/lytebox.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.css">
        {% endblock %}
    </head>
    <body>

    {% block nav %}
        {% if app.request.get('_route') == 'main' %}
                <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                    <div class="container-fluid">
                        <a class="navbar-brand js-scroll-trigger" href="{{ path('main') }}"><img src="/assets/img/logo.png" width="80px"/></a>
                        <ul class="navbar-nav ml-auto">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('meme_panel') }}">Memes</a></li>
                                <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('app_logout') }}">Logout</a></li>
                            {% else %} 
                                <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('app_login') }}">Login</a></li>
                                <li class="nav-item"><a class="nav-link text-uppercase" href="{{ path('app_register') }}">Register</a></li>   
                            {% endif %}
                        </ul>
                    </div>
                </nav>   
        {% else %} 
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <nav id="sidebar">
                    <div class="sidebar-header pr-3 pl-3 pt-3 pb-3">
                        <a class="navbar-brand js-scroll-trigger logoText" href="{{ path('main') }}"><img src="/assets/img/logo_text.png" width="180px" /></a>
                    </div>
                    <ul class="sidebarMenu m-0 p-0 pt-2 pb-2">
                        <li class="nav-item sidebarItem">
                            <a class="nav-link" href="{{ path('meme_panel') }}">
                                <span>
                                    <i class="fas fa-home sidebarIco"></i>
                                </span>
                                <span class="sidebarItemText">Memes</span>
                            </a>
                        </li>
                    </ul>    
                    <ul class="sidebarMenu m-0 p-0 pt-2 pb-2">    
                        <li class="nav-item sidebarItem">
                            <a class="nav-link" href="{{ path('settings_themes') }}">
                                <span>
                                    <i class="fas fa-cog sidebarIco"></i>
                                </span>
                                <span class="sidebarItemText">Settings</span>
                            </a>
                        </li>
                        <li class="nav-item sidebarItem">
                            <a class="nav-link" href="{{ path('contact') }}">
                                <span>
                                    <i class="fas fa-envelope-square sidebarIco"></i>
                                </span>
                                <span class="sidebarItemText">Contact</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="sidebarMenu m-0 p-0 pt-2 pb-2"> 
                        <li class="nav-item sidebarItem">
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                <span>
                                    <i class="fas fa-sign-out-alt sidebarIco"></i>
                                </span>
                                <span class="sidebarItemText">Logout</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="sidebarMenu m-0 p-0 pt-2 pb-2"> 
                        <li class="nav-item sidebarItem">
                            <a class="nav-link text-center" href="{{ path('settings_pro') }}">
                                <span class="sidebarItemText text-uppercase">Buy premium</span>
                            </a>
                        </li>
                    </ul>
                    <div class="progress-bar-main-box">
                        <span class="progress-bar-title">Disk usage (max 1GB):</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ occupatedSpace.getOccupiedSpace }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>{{ occupatedSpace.getOccupiedSpace }}%</span></div>    
                        </div>
                    </div>
                    <div class="sidebarInfoLinks">
                        <ul class="sidebarInfoLinkList p-0 m-0">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Regulations</a></li>
                            <li><a href="#">Informations</a></li>
                            <li><a href="#">Rankings</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </div>
                    <div class="sidebarCredentials">
                        <span class="rounded pt-1 pb-1 pl-2 pr-2">Created by <a class="githubName" href="https://github.com/sqbany122">Sqbany122</a> & <a class="githubName" href="https://github.com/Crlsky">Crlsky</a></span>
                    </div>
                    <div class="sidebarSocial">
                        <a class="" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
                        <a class="" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
                        <a class="" href="#"><i class="fas fa-plus-square fa-2x"></i></a>
                        <a class="" href="https://www.paypal.com/paypalme/wiadro50zl"><i class="fab fa-paypal fa-2x"></i></a>
                        <a class="" href="{{ path('contact') }}"><i class="fas fa-envelope-square fa-2x"></i></a>
                    </div>
                    <div id="dismiss">
                        <i class="fas fa-bars"></i>
                    </div>
                </nav>
            {% endif %}
        {% endif %}    
    {% endblock %}
    
    <header class="masthead">
        <div class="bgImage" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('{{ background_image.getBackgroundImg }}');"></div> 
        <div class="container d-flex h-100 align-items-center">         
            {# Nawigacja dla podstron logowania i rejestracji #}
            {% if app.request.get('_route') == 'app_login' %}
                {% block loginNav %}
                    <a href="{{ path('main') }}" class="btn btnBack"><i class="fas fa-arrow-left"></i><span>Main site</span></a>
                    <a href="{{ path('app_register') }}" class="btn btnForward"><span>Register</span><i class="fas fa-arrow-right"></i></a>
                {% endblock %}
            {% elseif app.request.get('_route') == 'app_register' %}
                {% block registerNav %}
                    <a href="{{ path('main') }}" class="btn btnBack"><i class="fas fa-arrow-left"></i><span>Main site</span></a>
                    <a href="{{ path('app_login') }}" class="btn btnForward"><span>Sign in</span><i class="fas fa-arrow-right"></i></a>
                {% endblock %}
            {% elseif app.request.get('_route') == 'meme_panel' %} 
                <div class="pathsTreeMainDiv d-flex justify-content-start"> 
                    <div class="pathsTree rounded pl-2 pr-2 text-uppercase">
                        <a href="{{ path('meme_panel') }}">
                                <i class="fas fa-home"></i> {{ pathTreeName }}   
                        </a>   
                    </div>
                </div>        
            {% elseif app.request.get('_route') == 'directory' %}      
                <div class="pathsTreeMainDiv d-flex justify-content-start"> 
                    {% if pathsTree['main_path'] is defined %}
                        <div class="pathsTree rounded pl-2 pr-2 text-uppercase">
                            <a href="{{ path('meme_panel') }}">
                                    <i class="fas fa-home"></i> {{ pathsTree['main_path'] }}    
                            </a>   
                            <i class="fas fa-angle-right"></i>
                            <a href="/meme/{{pathsTree['current_path_id']}}">
                                <span class="rounded"><i class="fas fa-folder"></i> {{ pathsTree['current_path_name'] }}</span>
                            </a>
                        </div>    
                    {% else %}
                        <div class="pathsTree rounded pl-2 pr-2 text-uppercase">
                            <a href="{{ path('meme_panel') }}">
                                   <i class="fas fa-home"></i> Main directory     
                            </a>
                            <i class="fas fa-angle-right"></i>
                            <a href="/meme/{{pathsTree['previous_path_id']}}">
                                <i class="fas fa-folder"></i> {{ pathsTree['previous_path_name'] }}  
                            </a> 
                            <i class="fas fa-angle-right"></i>
                            <a href="/meme/{{pathsTree['current_path_id']}}">
                                <span class="rounded"><i class="fas fa-folder"></i> {{ pathsTree['current_path_name'] }}</span>
                            </a>
                        </div>  
                    {% endif %}
                </div>                     
            {% endif %}
            
            {# Główny content każdej strony #}
            {% block body %}{% endblock %}
            
            {# Blok stopki #}
                {% block footer %} 
                    {% if app.request.get('_route') == 'main' or app.request.get('_route') == 'app_login' or app.request.get('_route') == 'app_register' %}
                        <div class="siteFooter">
                            <a class="" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a class="" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
                            <a class="" href="#"><i class="fas fa-plus-square fa-2x"></i></a>
                            <a class="" href="https://www.paypal.com/paypalme/wiadro50zl"><i class="fab fa-paypal fa-2x"></i></a>
                            <a class="" href="{{ path('contact') }}"><i class="fas fa-envelope-square fa-2x"></i></a>   
                            <div class="credentials mt-1">
                                <span class="rounded pt-1 pb-1 pl-2 pr-2">Created by Sqbany122 & Crlsky</span>
                            </div>
                        </div>
                    {% endif %}     
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.request.get('_route') != 'main' %}
                        <div id="sidebarExpandBtn" class="sidebarExpandBtn">
                            <i class="fas fa-bars"></i>
                        </div>
                    {% endif %} 
                {% endblock %}
        </div>
    </header>
    <div id="overlay" class="overlay"></div>
    {% if app.request.get('_route') != 'main' %}
        {{ block("modal", "modal.html.twig") }}
    {% endif %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% if app.request.get('_route') == 'meme_panel' or app.request.get('_route') == 'directory' %}
            <script src="{{ asset('/js/addDirectory.js') }}"></script>
            <script src="{{ asset('/js/addMeme.js') }}"></script>
            <script src="{{ asset('/js/contextMenu.js') }}"></script>
            <script src="{{ asset('/js/rename.js') }}"></script>
            <script src="{{ asset('/js/popup.js') }}"></script>   
        {% endif %}
        {% if app.request.get('_route') != 'main' %}
            <script src="{{ asset('/js/sidebar.js') }}"></script>
        {% endif %}
    {% endblock %}
    {% block siteAddedJs %}{% endblock %}
    </body>
</html>