<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="icon" href="/assets/img/favico.png" sizes="192x192" type="image/png">
        <meta name="robots" content="noindex, nofollow" />
        {% block javascript %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="{{ asset('/dist/jquery.contextMenu.js') }}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js"></script>
            <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('js/lytebox/lytebox.js') }}"></script>
        {% endblock %}
        {% block siteAddedCSS %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/styles.css') }}" />
            <link rel="stylesheet" href="{{ asset('/css/sidebar.css') }}" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('js/lytebox/lytebox.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.css">
        {% endblock %}
    </head>
    <body>
    
    <header class="masthead">
        <div id="showBigImage" class="overlay" onclick="jsObject.hideBigImage(event)"></div>
        <div id="overlay" class="overlay"></div>

        {{ block("sidebar", "includes/sidebar.html.twig") }}

        {# Nawigacja katalogow #}
        {{ block("pathsTree", "includes/paths_tree.html.twig") }}
        
        <div class="bgImage" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('{{ background_image.getBackgroundImg }}');"></div> 
        <div class="container d-flex h-100 align-items-center">         
            {# Nawigacja dla podstron logowania i rejestracji #}
            {% if app.request.get('_route') == 'app_login' %}
                {% block loginNav %}
                    <a href="{{ path('main') }}" class="btn btnBack"><i class="fas fa-arrow-left"></i><span>Main site</span></a>
                    <a href="{{ path('app_register') }}" class="btn btnForward"><span>Register</span><i class="fas fa-arrow-right"></i></a>
                {% endblock %}
            {% elseif app.request.get('_route') == 'app_register' %}
                {% block registerNav %}
                    <a href="{{ path('main') }}" class="btn btnBack"><i class="fas fa-arrow-left"></i><span>Main site</span></a>
                    <a href="{{ path('app_login') }}" class="btn btnForward"><span>Sign in</span><i class="fas fa-arrow-right"></i></a>
                {% endblock %}                    
            {% endif %}
    
            {# Główny content każdej strony #}
            {% block body %}{% endblock %}
            
            {# Blok stopki #}
            {{ block("footer", "includes/footer.html.twig") }}  
        </div>
    </header>
    {% if app.request.get('_route') != 'main' %}
        {{ block("modal", "modal.html.twig") }}
    {% endif %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% if app.request.get('_route') == 'meme_panel' or app.request.get('_route') == 'directory' %}
            <script src="{{ asset('/js/addDirectory.js') }}"></script>
            <script src="{{ asset('/js/addMeme.js') }}"></script>
            <script src="{{ asset('/js/contextMenu.js') }}"></script>
            <script src="{{ asset('/js/rename.js') }}"></script>
            <script src="{{ asset('/js/popup.js') }}"></script>
            <script src="{{ asset('/js/draggable.js') }}"></script>
            <script src="{{ asset('/js/objectFunctions.js') }}"></script>
        {% endif %}
        {% if app.request.get('_route') != 'main' %}
            <script src="{{ asset('/js/sidebar.js') }}"></script>
        {% endif %}
    {% endblock %}
    {% block siteAddedJs %}{% endblock %}
    </body>
</html>